*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    border: 10px solid black; 
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 30px;
}
.cars{
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
    overflow: hidden;
    transition: tranform 0.3s ease;
    transition: box-shadow 0.3s ease;
    position: relative;
    display: inline-block;

}
.cars:hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px;
    color: #fff;
}
#ozanMainFoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#utkuMainFoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#yasinMainFoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#efeMainFoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Geçiş efekti eklemek için bir arka plan rengi */
    color: white;
    padding: 30px;
    text-align: center;
    opacity: 0; /* Başlangıçta görünmez */
    transition: opacity 0.5s; /* Geçiş efekti süresi */
}
.cars:hover .overlay {
    opacity: 1; /* Fare üstüne gelindiğinde görünür hale gelir */
}
.etiketler {
    text-decoration: none;
    color: #fff;
}
.modal1{
    /* position: absolute; */
    margin: 0 auto;
    padding: 30px;
    top: 10%;
    border: 4px solid #fff;
    border-radius: 10px;
    width: 908px;
    height: 540px;
    background-color: black;

}
.modal2{
    /* position: absolute; */
    margin: 0 auto;
    padding: 30px;
    top: 10%;
    border: 4px solid #fff;
    border-radius: 10px;
    width: 908px;
    height: 410px;
    background-color: black;

}
.open-modal1{
    border: 1px solid #fff;
    padding: 3px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: box-shadow 0.3s ease;
    margin-top: 10px;
    cursor: pointer;
}
.open-modal2{
    border: 1px solid #fff;
    padding: 3px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: box-shadow 0.3s ease;
    margin-top: 10px;
    cursor: pointer;
}
.open-modal3{
    border: 1px solid #fff;
    padding: 3px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: box-shadow 0.3s ease;
    margin-top: 10px;
    cursor: pointer;
}
.open-modal4{
    border: 1px solid #fff;
    padding: 3px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: box-shadow 0.3s ease;
    margin-top: 10px;
    cursor: pointer;
}
.open-modal1:hover{
    box-shadow: 0 0 30px;
}
#ozanFoto1{
    transition: transform 0.3s ease;
}
#ozanFoto1:hover{
    transform: scale(1.05);
}
#ozanFoto2{
    transition: transform 0.3s ease;
}
#ozanFoto2:hover{
    transform: scale(1.05);
}
#ozanFoto3{
    transition: transform 0.3s ease;
}
#ozanFoto3:hover{
    transform: scale(1.05);
}
.ozanFotolar{
    /* border: 3px solid #fff; */
    border-radius: 10px;
    object-fit: cover;


}
.close-button{
    border: none;
    border-radius: 2px;
    background-color: transparent;
    color: #fff;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    padding: 2px;
    width: 910px;
    transition: box-shadow 0.3s ease;
    transition: tranform 0.3s ease;
}
.close-button:hover{
    box-shadow: 0 0 30px;
    transform: scale(1.05);
}
.close-button2{
    border: none;
    border-radius: 2px;
    background-color: transparent;
    color: #fff;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    padding: 2px;
    width: 910px;
    transition: box-shadow 0.3s ease;
    transition: tranform 0.3s ease;

}
.close-button2:hover{
    box-shadow: 0 0 30px;
    transform: scale(1.05);
}